.dashboard{
    background-image: url("/static/225985-nebula-space-blue-12k-8k-hd-4k-wallpaper-image.jpg");
    height: 100%;
    display: grid;
    background-size:cover;
    background-repeat: repeat;
    overflow-x: scroll;
    min-width: 100%;
    
  

}.dashboardheader{

    flex: 1;
    padding-left: 10px;
    padding-bottom: 5px;
    justify-content: space-between;
    background:"purple.400";
    color: black;
    align-items: center;
    

}

.threeDBox{
    background-size: 100%;
    height: 100%;
    background: white;
    display: block;
    width: 100%;
}